body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

#navbar{
    padding: 5px;
    background-color: rgb(148, 7, 7);
    display:flex ;
    align-items: center;
    justify-content: center;
}

#icon{
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

#biografia{
    background-color: rgb(99, 99, 5);
    padding: 10px;
    border-style: solid;
    border-color: rgb(255, 0, 0);

    display:flex;
    justify-content: space-around;
}

.biografias{
    background-color: black;
    padding: 7px;
    border-style: solid;
    text-align: center;

}

#noticias{
    background-color: rgb(99, 99, 5);
    padding: 10px;
    border-style: solid;
    border-color: rgb(255, 0, 0);

    display:flex;
    justify-content: space-around;
}

.noticia{
    background-color: black;
    padding: 7px;
    border-style: solid;
    text-align: center;

}

.imagem_noticia{
    height: 100px;
}


#vilao{
    background-color: rgb(99, 99, 5);
    padding: 10px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
    display:flex;
    justify-content: space-around;

}

.viloes{
    background-color: black;
    padding: 7px;
    border-style: solid;
    text-align: center;
}

#aliado{
    background-color: rgb(99, 99, 5);
    padding: 10px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
    display:flex;
    justify-content: space-around;

}

.aliados{
    background-color: black;
    padding: 7px;
    border-style: solid;
    text-align: center;
}

#rodapet{
    text-align: center;
}

#rodape{
    text-align: center;
}
